<div id="<%= dom_id board %>">
  <p>
    <strong>Width:</strong>
    <%= board.width %>
  </p>

  <p>
    <strong>Height:</strong>
    <%= board.height %>
  </p>

  <p>
    <strong>Num of mines:</strong>
    <%= board.num_of_mines %>
  </p>

  <div id="grid">
    <table>
      <% JSON.parse(board.grid).each do |row| %>
        <tr>
          <% row.each do |col| %>
            <td><%= col.present? ? '&#128163;'.html_safe : '' %></td>
          <% end %>
        </tr>
      <% end %>
    </table>
  </div>
</div>