<!DOCTYPE html>
<html>
  <head>
    <title>One Step - Minesweeper</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_include_tag "application", "data-turbo-track": "reload", defer: true %>
  </head>

  <body>
    <nav class="navbar navbar-light bg-light">
      <div class="container">
        <span class="navbar-brand mb-0 h1">Minesweeper board generator</span>
      </div>
    </nav>

    <div class="container pt-5">
      <%= yield %>
    </div>
  </body>
</html>
